<footer class="border-top" style="background-color: darkgray;">
        
          <div class="col-12">
          <div class="row">
          <div class="col-md-3 col-sm-6">
            <img style="margin-top: 80px;" src="../../../public/images/header/nav-image.png" width="200" height="50" alt="">
            <small class="d-block text-muted">© 2017-2019</small>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4 style="font-weight: 900;">Shop by category</h4>
            <ul class="list-group text-small">
              <li><a class="text-muted" href="#">T-Shirts</a></li>
              <li><a class="text-muted" href="#">Mugs</a></li>
              <li><a class="text-muted" href="#">Banner</a></li>
              <li><a class="text-muted" href="#">Phone case</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4 style="font-weight: 900;">FAQ</h4>
            <ul class="list-group text-small">
              <li><a class="text-muted" href="#">About Delivery</a></li>
              <li><a class="text-muted" href="#">About Return Policy</a></li>
              <li><a class="text-muted" href="#">Exchange Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4 style="font-weight: 900;">About</h4>
            <ul class="list-group text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
        </div>
      </footer>