<%- include('./layout/header') %>

<style>
    .edit-profile{
      width: 60%;
    }
    @media (max-width: 768px) {
      .edit-profile{
      width: 100%;
    }
    }
  </style>

<div class="container edit-profile" style="margin-top: 100px">
  <h1 style="font-weight: 900">Change Password</h1>
  <br>
  <%- include('./layout/message') %>
    <form method="POST" action="/dashboard/changepassword">
 
  <div class="form-group">
    <label >New Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password"">
  </div>
  <div class="form-group">
      <label >Confirm Password</label>
      <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
    </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>